<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="http://127.0.0.1:8887/styles/login.css"/>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="box">
                <div class="imgBx">
                    <img src="egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container4">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container5">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container6">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container7">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="container8">
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
            <div class="box">
                <div class="imgBx">
                    <img src="http://127.0.0.1:8887/templates/egg1.png">
                </div>
            </div>
        </div>
        <div class="login-wrapper">
            <form action="" id="myform" class="form">
                <img src="http://127.0.0.1:8887/templates/chicken-avatar.png" alt="">
                <h2>Login</h2>
                <div class="input-group">
                    <input type="text" name="loginUser" id=loginUser required>
                    <label for="loginUser">User Name</label>
                </div> 
                <div class="input-group">
                    <input type="password" name="loginPassword" id=loginPassword required>
                    <label for="loginPassword">Password</label>
                </div> 
                <input type="button" id="submitbtn" value="Login" class="submit-btn">
            </form>
        </div>
        <script src="http://127.0.0.1:8887/scripts/login.js"></script>
    </body>
</html>