<!DOCTYPE html>
<html>
    <head>
        <title>Manager Page</title>
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8887/styles/managerPage.css">
    </head>
    <body>
        <section>
            <div class="set">
                <div><img src="http://127.0.0.1:8887/templates/chicken1N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken2N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken3N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken4N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken1N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken2N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken3N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken4N.png"></div>
            </div>
            <div class="set set2">
                <div><img src="http://127.0.0.1:8887/templates/chicken1N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken2N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken3N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken4N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken1N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken2N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken3N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken4N.png"></div>
            </div>
            <div class="set set3">
                <div><img src="http://127.0.0.1:8887/templates/chicken1N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken2N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken3N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken4N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken1N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken2N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken3N.png"></div>
                <div><img src="http://127.0.0.1:8887/templates/chicken4N.png"></div>
            </div>
            <div id="reimbursements_view" class="card">
                <div class="card-text">
                    <h2>View employee requests</h2>
                </div>
            </div>
            <div id="statistics_view" class="card card2">
                <div class="card-text">
                    <h2>Statistics</h2>
                </div>
            </div>
        </section>
        <script src="http://127.0.0.1:8887/scripts/manager_page.js"></script>
    </body>
</html>