<!DOCTYPE html>

<html>
    <head>
        <title>pH Login</title>
        <link rel="stylesheet" href="http://127.0.0.1:8887/styles/ph-styles.css"/>
    </head>
    <body>
        <header>
            <h1>parry Hotter School for Alchemy and Pyromancy</h1>
        </header>
        <div id="hat" style="display: flex; justify-content: center;">
            <img src="https://www.renderhub.com/realityscanning/old-boot-with-plants-inside/old-boot-with-plants-inside-01.jpg" style="height: 15rem" alt="Sorting Boot"/>
        </div>
        <form id="myform">
            <span class="error_form" id="user_pass_error_message"></span>
            <section class="two_columns">
                <label for="username">Username:</label>
                <input id="username" name="username" placeholder="parry Hotter" type="text"/>
                <label for="password">Password:</label>
                <input id="password" name="password" placeholder="*******" type="password" maxlength="20"/>
            </section>
            <input type="button" id="submitbtn" value="Submit"/>
        </form>
        <footer>
            <h6>&copy;Copyright pHSfAaP. All rights reserved.</h6>
        </footer>
        <style>
            #hat{
                margin: 3em;
            }

            img{
                border: 1em;
                border-style: solid;
                border-color: steelblue;
            }
        </style>
        <script src="http://127.0.0.1:8887/scripts/parry-hotter-login.js"></script>
    </body>
</html>