<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rembursement Request</title>
</head>
<body>
  <form id="myform">
    <label for="amount">Amount</label>
    <input type="number" id="amount" step=.01/>
    <label for="reason">Give a reason for expenditure</label>
    <textarea id="reason" name="reason" rows="10" cols="50"></textarea>
    <input type="button" id="submit_request" value="Submit"/>
  </form>
  <script src="http://127.0.0.1:8887/scripts/r_request_page.js"></script>
</body>
</html>